<div class="list-item" fxLayout="column">
  <div class="img" *ngIf="item.images?.length > 0" [style.backgroundImage]="'url('+item.images[currentThumbnail]+')'"></div>
  <div class="img" *ngIf="!(item.images?.length > 0)" [style.backgroundImage]="'url(\'/assets/no-image.svg\')'"> </div>

  <div class="thumbnail-ctrl" fxLayout fxLayoutAlign="center center" *ngIf="item.images?.length > 1">
    <button disableRipple fxFlex mat-icon-button (click)="thumbnailPrev($event)"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <span fxFlex>{{currentThumbnail+1}}/{{item.images?.length}}</span>
    <button disableRipple fxFlex mat-icon-button (click)="thumbnailNext($event)"><mat-icon>keyboard_arrow_right</mat-icon></button>

  </div>
  <div class="price">
    {{'$'+item.price}}
  </div>

  <div class="title">
    {{item.year}} {{item.make}} {{item.model}}
  </div>


  <div class="mileage">
    {{item.mileage+'Km'}}
  </div>

  <div class="description">
    {{item.description}}
  </div>



  <div fxLayout fxFlex fxLayoutAlign="end end">
    <button mat-button (click)="addToBasket.emit(item)">Add to Basket</button>
  </div>
</div>
