.card {
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
}

.drag-info {
  position: absolute;
  width: 100%;
  height: 167px;
}

.like, .nope {
  font-size: 45px;
  padding: 12px;
  text-transform: uppercase;
  border-radius: 2px;
  font-weight: bold;
  opacity: 0;
}

.like {
  border: 7px solid #2E7D32;
  color: #2E7D32;
  /* Firefox */
  -moz-transform: rotate(-45deg);
  /* Safari and Chrome */
  -webkit-transform: rotate(-45deg);
  /* Opera */
  -o-transform: rotate(-45deg);
  /* IE9 */
  -ms-transform: rotate(-45deg);
}

.nope {
  border: 7px solid #C62828;
  color: #C62828;
  /* Firefox */
  -moz-transform: rotate(45deg);
  /* Safari and Chrome */
  -webkit-transform: rotate(45deg);
  /* Opera */
  -o-transform: rotate(45deg);
  /* IE9 */
  -ms-transform: rotate(45deg);
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.card button {
  font-size: 40px;
}

.cards {
  overflow: visible;
  margin: 1em;
  background: transparent;
  position: relative;
}

.wrapper {
  overflow: hidden;
}
