<div fxFlexFill fxLayout="column" class="wrapper">
  <div fxFlex class="cards" swing-stack [stackConfig]="stackConfig" #myswing1 (throwout)="onThrowOut($event)">
    <div class="card" fxLayout="column" swing-card #mycards1 *ngFor="let c of cards">
      <div fxFlex fxLayoutAlign="center center">
        <img [src]="c.imgURL" draggable="false" />
      </div>
      <div>

        <span>Donald</span>
        <br />
        <span>From afghanistan</span>
      </div>
    </div>
  </div>

  <md-card fxLayoutAlign="center start" fxLayoutGap="50px">
    <button md-fab style="background-color:#C62828">
     <md-icon >thumb_down</md-icon>
   </button>
    <button md-fab style="background-color:#2E7D32 ">
    <md-icon>thumb_up</md-icon>
  </button>

  </md-card>
</div>
