<h2 matDialogTitle>New Dashboard</h2>
<mat-dialog-content>
  Give your new dashboard a name.
  <form novalidate #f="ngForm">
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="newDashboard.name" name="name" required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <span fxFlex></span>
  <button mat-button tabindex="-1" matDialogClose>Cancel</button>

  <button [disabled]="!f.valid" [matDialogClose]="newDashboard" mat-raised-button color="primary">Done</button>
</mat-dialog-actions>
