<mat-toolbar color="accent">
  <button mat-icon-button (click)="winRef.nativeWindow.history.back()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <h1>My Basket</h1>
</mat-toolbar>



<!-- <div fxFlex *ngFor="let basket of ecom.baskets | async">
  item in my basket
</div> -->

<div class="mat-elevation-z8">
  <mat-table [dataSource]="myBasketDataSource">

    <ng-container matColumnDef="images">
      <mat-header-cell *matHeaderCellDef>Images</mat-header-cell>
      <mat-cell *matCellDef="let element" style="height: 100px; width: 120px;">
        <app-image-preview [images]="element.images"></app-image-preview>

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>description</mat-header-cell>
      <mat-cell *matCellDef="let element" style="text-overflow: ellipsis;overflow: hidden;"> {{element.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef>quantity</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-form-field style="width:3em;">
          <input matInput type="number" [(ngModel)]="element.quantity" />
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef>price</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{'$'+element.price}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="controls">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element"> <button mat-icon-button (click)="removeFromBasket(element)"><mat-icon>close</mat-icon></button> </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
