<form [formGroup]="form" (ngSubmit)="submit()" fxLayout="column">
  <md-form-field>
    <input mdInput type="email" placeholder="Email address" formControlName="email">
    <md-error *ngIf="form.controls['email'].hasError('userNotFound')">
      No user with this email address
    </md-error>
  </md-form-field>

  <md-form-field>
    <input mdInput type="password" placeholder="Password" formControlName="password">
    <md-error *ngIf="form.controls['password'].hasError('wrongPassword')">
      The password is invalid
    </md-error>
  </md-form-field>

  <div>
    <!-- You need to add type button to any button on a form that is not submit.
        Else it is going to call submit on the form.
        for more info
        https://github.com/angular/angular.js/issues/6017
        https://stackoverflow.com/questions/38786995/avoid-angular2-to-systematically-submit-form-on-button-click
      -->
    <button type="button" tabindex="-1" (click)="showPasswordResetDialog()" md-button>Forgot your password?</button>
    <span fxFlex></span>
    <button type="submit" [disabled]="!form.valid" md-raised-button color="primary">Login</button>

  </div>

</form>
