<mat-dialog-content>
  <p>
    {{data.message || 'Are you sure you want to perform this action?'}}
  </p>
  <mat-form-field>
    <input matInput [type]="data.type" required [(ngModel)]="promptValue">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button matDialogClose>{{data.reject || 'Cancel'}}</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-button [matDialogClose]="promptValue" [disabled]>{{data.accept || 'Ok'}}</button>
</mat-dialog-actions>
