<md-dialog-content>
  <p>
    {{data.message || 'Are you sure you want to perform this action?'}}
  </p>
  <md-form-field>
    <input mdInput [type]="data.type" required [(ngModel)]="promptValue">
  </md-form-field>
</md-dialog-content>
<md-dialog-actions>
  <button md-button md-dialog-close>{{data.reject || 'Cancel'}}</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button md-button [md-dialog-close]="promptValue" [disabled]>{{data.accept || 'Ok'}}</button>
</md-dialog-actions>
