<div fxLayout="column" fxFlexFill>
  <div class="toolbar">
    <mat-select placeholder="Select dashboard" [(ngModel)]="selectedDashboard">
      <mat-option *ngFor="let dashboard of dashboards" [value]="dashboard">{{ dashboard.name }}</mat-option>
    </mat-select>
    <button mat-button (click)="addWidget()">New widget</button>
    <button mat-button (click)="showNewDashboardDialog()">New Dashboard</button>
  </div>



  <mat-sidenav-container fxFlex>
    <mat-sidenav #widgetEdit disableClose mode="side" position="end">
      <form *ngIf="selectedWidget">
        <mat-form-field>
          <input matInput type="text" name="title" placeholder="Title" [(ngModel)]="selectedWidget.title">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" name="subtitle" placeholder="Subtitle" [(ngModel)]="selectedWidget.subtitle">
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" (click)="closeWidgetEdit()">Done</button>
    </mat-sidenav>

    <gridster fxFlex [options]="options" class="dashboard">

      <gridster-item [item]="widget.gridSterItemOptions" class="pane" [ngClass]="{'pane-selected': selectedWidget == widget}" *ngFor="let widget of selectedDashboard.widgets; let i = index">
        <app-widget (onRemove)="selectedDashboard.widgets.splice(i, 1)" (onSelect)="selectWidget(widget)" [widget]="widget"></app-widget>
      </gridster-item>

    </gridster>


  </mat-sidenav-container>
</div>
