<h2 md-dialog-title>Password help</h2>
<md-dialog-content>
  <p>
    Enter your email address. You will recieve an email with a link to reset your password.
  </p>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <md-form-field>
      <input mdInput type="email" placeholder="Email address" formControlName="email">
      <md-error *ngIf="form.controls['email'].hasError('userNotFound')">
        There is no user record corresponding to this email address
      </md-error>
      <md-error *ngIf="form.controls['email'].hasError('invalidEmail')">
        This email address is not valid
      </md-error>
    </md-form-field>
  </form>
  <br />
</md-dialog-content>
<md-dialog-actions>
  <button [disabled]="!form.valid" md-raised-button color="primary" (click)="submit()">Send me reset instructions</button>
</md-dialog-actions>
