<h2 matDialogTitle>Password help</h2>
<mat-dialog-content>
  <p>
    Enter your email address. You will recieve an email with a link to reset your password.
  </p>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput type="email" placeholder="Email address" formControlName="email">
      <mat-error *ngIf="form.controls['email'].hasError('userNotFound')">
        There is no user record corresponding to this email address
      </mat-error>
      <mat-error *ngIf="form.controls['email'].hasError('invalidEmail')">
        This email address is not valid
      </mat-error>
    </mat-form-field>
  </form>
  <br />
</mat-dialog-content>
<mat-dialog-actions>
  <button [disabled]="!form.valid" mat-raised-button color="primary" (click)="submit()">Send me reset instructions</button>
</mat-dialog-actions>
