mat-sidenav {
  width: 250px;
}

.app-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-logo {
  height: 1.5em;
  margin-right: .5em;
}

mat-nav-list a {
  color: rgba(0, 0, 0, 0.54);
}

.active-link {
  color: #3F51B5 !important;
}
