@media screen and (max-width: 600px) {
  .login-wrapper {
    width: 100%;
  }
}

md-sidenav {
  width: 250px;
}

.app-title {
  overflow: hidden;
  text-overflow: ellipsis;
}




md-nav-list a {
  color: rgba(0, 0, 0, 0.54);
}
.active-link {
  color: #3F51B5 !important;
}
