<div fxFlexFill fxLayout="column" *ngIf="(auth.user | async)?.uid">
  <mat-toolbar color="primary">
    <div fxHide.gt-xs="true" fxFlex>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <span class="app-title">App demo</span>

    <span fxFlex></span>

    <div fxHide.xs>
      <a mat-button href="https://github.com/MurWade/app-demo">
        <mat-icon svgIcon="github"></mat-icon>
        <span>GITHUB</span>
      </a>

      <a mat-button routerLink="/profile">
      Hello {{(auth.user | async)?.email}}
    </a>
      <button mat-icon-button (click)="logout()" matTooltip="Sign out" matTooltipClass="appMdOneLineTooltip">
         <mat-icon>exit_to_app</mat-icon>
       </button>
    </div>

    <div fxHide.gt-xs>
      <button mat-icon-button [matMenuTriggerFor]="mainMenu"><mat-icon>more_vert</mat-icon></button>

      <mat-menu #mainMenu="matMenu">
        <a mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span> {{(auth.user | async)?.email}} </span>
        </a>
        <a mat-menu-item href="https://github.com/MurWade/app-demo">
          <mat-icon svgIcon="github"></mat-icon>
          <span>GITHUB</span>
        </a>
        <mat-divider></mat-divider>

        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span> Sign out</span>
          </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlex>
    <mat-sidenav #sidenav [disableClose]="media.isActive('gt-xs')" [mode]="media.isActive('gt-xs') ? 'side' : 'over'" [opened]="media.isActive('gt-xs')">
      <div fxLayout="column" fxFlexFill>
        <mat-nav-list>

          <a mat-list-item routerLink="/" color="primary" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" (click)="routeLinkClick()">
            <mat-icon matListIcon>home</mat-icon>

            <h3 matLine> Home </h3>

          </a>
          <a mat-list-item routerLink="/dashy" routerLinkActive="active-link" (click)="routeLinkClick()">
            <mat-icon matListIcon>dashboard</mat-icon>

            <h3 matLine> BI Dashboard </h3>
          </a>
          <a mat-list-item routerLink="/uploads" routerLinkActive="active-link" (click)="routeLinkClick()">
            <mat-icon matListIcon>cloud</mat-icon>

            <h3 matLine> My uploads </h3>
          </a>

          <a mat-list-item routerLink="/tinder" routerLinkActive="active-link" (click)="routeLinkClick()">
            <mat-icon matListIcon>whatshot</mat-icon>

            <h3 matLine> Tinder </h3>
          </a>

        </mat-nav-list>

        <mat-divider></mat-divider>
        <mat-list dense fxFlex style="overflow: auto;">
          <h3 matSubheader>Users</h3>
          <mat-list-item *ngFor="let user of users | async">
            <img matListAvatar src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/ce54bf11889067.562541ef7cde4.png" alt="...">
            <h3 matLine> {{user.email}} </h3>
            <app-user-status [status]="user.status"></app-user-status>

          </mat-list-item>
        </mat-list>
      </div>
    </mat-sidenav>

    <router-outlet></router-outlet>


  </mat-sidenav-container>
</div>

<div fxFlexFill fxLayout fxLayoutAlign.gt-xs="center center" *ngIf="!(auth.user | async)?.uid">

  <mat-card class="login-wrapper">
    <mat-tab-group>
      <mat-tab label="Log in">
        <app-login></app-login>
      </mat-tab>
      <mat-tab label="Sign Up">
        <app-sign-up></app-sign-up>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

</div>
