<div *ngIf="(auth.user | async)?.uid" fxFlexFill fxLayout="column">

  <md-toolbar color="primary">
    <a md-button routerLink="/" mdTooltip="Home">
      <md-icon>home</md-icon>

      <span> My Application</span>
    </a>

    <a md-button routerLink="/dashy" mdTooltip="BI Dashboard">
      <span>Dashy</span>
    </a>

    <a md-button routerLink="/uploads" mdTooltip="My uploads">
      <span>Uploads</span>
    </a>

    <span fxFlex></span>

    <a md-button href="https://github.com/MurWade/app-demo">
      <md-icon svgIcon="github"></md-icon>
      <span>GITHUB</span>
    </a>

    <a md-button routerLink="/profile">
      Hello {{(auth.user | async)?.email}}
    </a>

    <button md-icon-button (click)="logout()" mdTooltip="Sign out" mdTooltipClass="appMdOneLineTooltip">
      <md-icon>exit_to_app</md-icon>
    </button>


  </md-toolbar>

  <div fxFlex fxLayout>
    <div>
      <md-list>
        <md-list-item *ngFor="let user of users | async">
          {{user.email}}
          <span fxFlex></span>
          <app-user-status [status]="user.status"></app-user-status>

        </md-list-item>
      </md-list>
    </div>

    <div fxFlex id="main-content">
      <router-outlet></router-outlet>

    </div>
  </div>


</div>

<div fxFlexFill fxLayout fxLayoutAlign="center center" *ngIf="!(auth.user | async)?.uid">

  <md-card>
    <md-tab-group>
      <md-tab label="Log in">
        <app-login></app-login>
      </md-tab>
      <md-tab label="Sign Up">
        <app-sign-up></app-sign-up>
      </md-tab>
    </md-tab-group>
  </md-card>

</div>
