@media screen and (max-width: 600px) {
  .login-wrapper {
    width: 100%;
  }
}

md-sidenav {
  width: 200px;
}

.app-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.active-link {
  color: #3F51B5;
}
