<div fxFlexFill fxLayout="column" *ngIf="(auth.user | async)?.uid">
  <md-toolbar color="primary">
    <div fxHide.gt-xs="true" fxFlex>
      <button md-icon-button (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
      </button>
    </div>

    <span class="app-title">App demo</span>

    <span fxFlex></span>

    <div fxHide.lt-sm="true">
      <a md-button href="https://github.com/MurWade/app-demo">
        <md-icon svgIcon="github"></md-icon>
        <span>GITHUB</span>
      </a>

      <a md-button routerLink="/profile">
      Hello {{(auth.user | async)?.email}}
    </a>
      <button md-icon-button (click)="logout()" mdTooltip="Sign out" mdTooltipClass="appMdOneLineTooltip">
         <md-icon>exit_to_app</md-icon>
       </button>
    </div>

    <div fxHide.gt-xs>
      <button md-icon-button [mdMenuTriggerFor]="mainMenu"><md-icon>more_vert</md-icon></button>

      <md-menu #mainMenu="mdMenu">
        <a md-menu-item routerLink="/profile">
          <md-icon>person</md-icon>
          <span> {{(auth.user | async)?.email}} </span>
        </a>
        <a md-menu-item href="https://github.com/MurWade/app-demo">
          <md-icon svgIcon="github"></md-icon>
          <span>GITHUB</span>
        </a>
        <md-divider></md-divider>

        <button md-menu-item (click)="logout()">
            <md-icon>exit_to_app</md-icon>
            <span> Sign out</span>
          </button>
      </md-menu>
    </div>
  </md-toolbar>

  <md-sidenav-container fxFlex>
    <md-sidenav #sidenav [mode]="media.isActive('gt-xs') ? 'side' : 'over'" [opened]="media.isActive('gt-xs')">
      <div fxLayout="column" fxFlexFill>
        <md-nav-list>

          <a md-list-item routerLink="/" color="primary" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" (click)="routeLinkClick()">
            <md-icon mdListIcon>home</md-icon>

            <h3 mdLine> Home </h3>

          </a>
          <a md-list-item routerLink="/dashy" routerLinkActive="active-link" (click)="routeLinkClick()">
            <md-icon mdListIcon>dashboard</md-icon>

            <h3 mdLine> BI Dashboard </h3>
          </a>
          <a md-list-item routerLink="/uploads" routerLinkActive="active-link" (click)="routeLinkClick()">
            <md-icon mdListIcon>cloud</md-icon>

            <h3 mdLine> My uploads </h3>
          </a>

        </md-nav-list>

        <md-divider></md-divider>
        <md-list dense fxFlex style="overflow: auto;">
          <h3 md-subheader>Users</h3>
          <md-list-item *ngFor="let user of users | async">
            <img mdListAvatar src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/ce54bf11889067.562541ef7cde4.png" alt="...">
            <h3 mdLine> {{user.email}} </h3>
            <app-user-status [status]="user.status"></app-user-status>

          </md-list-item>
        </md-list>
      </div>
    </md-sidenav>

    <router-outlet></router-outlet>


  </md-sidenav-container>
</div>

<div fxFlexFill fxLayout fxLayoutAlign.gt-xs="center center" *ngIf="!(auth.user | async)?.uid">

  <md-card class="login-wrapper">
    <md-tab-group>
      <md-tab label="Log in">
        <app-login></app-login>
      </md-tab>
      <md-tab label="Sign Up">
        <app-sign-up></app-sign-up>
      </md-tab>
    </md-tab-group>
  </md-card>

</div>
