<h2 md-dialog-title>Password help</h2>
<md-dialog-content>
Enter your email address. You will recieve an email with a link to reset your password.
<form #retrievePasswordForm='ngForm' novalidate>
  <md-form-field>
    <md-icon mdPrefix>perm_identity</md-icon>
    <input mdInput type="email" placeholder="Email address" (ngModel)="email" name="email" required>
  </md-form-field>
</form>
</md-dialog-content>
<md-dialog-actions>
  <button [disabled]="!retrievePasswordForm.valid" [md-dialog-close]="retrievePasswordForm.value.email" md-raised-button color="primary">Reset my password</button>
</md-dialog-actions>
