<h2 md-dialog-title>Password help</h2>
<md-dialog-content>
Enter your email address. You will recieve an email with a link to reset your password.
<form [formGroup]="retrievePasswordForm" (ngSubmit)="submitForm()">
  <md-form-field>
    <button md-icon-button mdPrefix><md-icon>person</md-icon></button>
    <input mdInput type="email" placeholder="Email address" formControlName="email" email>
  </md-form-field>
</form>
</md-dialog-content>
<md-dialog-actions>
  <button [disabled]="!retrievePasswordForm.valid" [md-dialog-close]="retrievePasswordForm.value.email" md-raised-button color="primary">Reset my password</button>
</md-dialog-actions>
