<form fxLayout="column" id="sign-up-form" #signUpForm='ngForm' (ngSubmit)="createUserWithEmailAndPassword(signUpForm)">

  <md-form-field>
    <button tabindex="-1" md-icon-button mdPrefix><md-icon>person</md-icon></button>
    <input mdInput email type="email" placeholder="Email address" ngModel name="email" required>
  </md-form-field>

  <md-form-field>
    <button tabindex="-1" md-icon-button mdPrefix><md-icon>lock</md-icon></button>
    <input mdInput type="password" placeholder="Password" ngModel name="password" required>
  </md-form-field>

  <button type="submit" [disabled]="!signUpForm.valid" md-raised-button color="primary">Sign up</button>
</form>
