<form [formGroup]="form" (ngSubmit)="submit()" fxLayout="column">

  <mat-form-field>
    <input matInput type="email" placeholder="Email" formControlName="email">
    <mat-error *ngIf="form.controls['email'].hasError('emailAlreadyInUse')">
      There already exists an account with this email address
    </mat-error>
    <mat-error *ngIf="form.controls['email'].hasError('invalidEmail')">
      This email address is not valid
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="password">
  </mat-form-field>

  <mat-checkbox formControlName="termAndConditions">I accept the <strong>Terms and Conditions</strong></mat-checkbox>

  <br />

  <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary">Sign up</button>

</form>
