<mat-nav-list>
  <h3 matSubheader>Things to do</h3>

  <a mat-list-item *ngIf="!core.isElectron">
    <p matLine>
      Download windows client
    </p>

    <mat-icon>
      desktop_windows
    </mat-icon>
  </a>
  <a mat-list-item routerLink="change-my-display-photo">

    <p matLine>
      Change Display Photo
    </p>
    <mat-icon>arrow_forward</mat-icon>
  </a>

  <a mat-list-item routerLink="profile">

    <p matLine>
      View your profile
    </p>
    <mat-icon>arrow_forward</mat-icon>
  </a>
</mat-nav-list>
