<div fxFlexFill fxLayout="column" class="wrapper">
  <div fxFlex class="cards" swing-stack [stackConfig]="stackConfig" #myswing1 (throwout)="onThrowOut($event)">
    <div class="card" fxLayout="column" swing-card #mycards1 *ngFor="let c of cards">
      <div class="drag-info" fxLayout>
        <div fxFlex fxLayoutAlign="center center">
          <span class="like">Like</span>
        </div>

        <div fxFlex fxLayoutAlign="center center">
          <span class="nope">Nope</span>
        </div>
      </div>
      <div fxFlex fxLayoutAlign="center center">
        <img [src]="c.imgURL" draggable="false" />
      </div>
      <div>

        <span>Donald</span>
        <br />
        <span>From afghanistan</span>
      </div>
    </div>
  </div>

  <mat-card fxLayoutAlign="center start" fxLayoutGap="50px">
    <button mat-fab style="background-color:#C62828">
     <mat-icon>clear</mat-icon>
   </button>
    <button mat-fab style="background-color:#2E7D32 ">
    <mat-icon>favorite</mat-icon>
  </button>

  </mat-card>
</div>
