<div fxLayout="column" fxFlexFill>
  <div class="toolbar">
    <md-select placeholder="State">
      <md-option *ngFor="let state of states" [value]="state.code">{{ state.name }}</md-option>
    </md-select>
    <button>New widget</button>
    <button (click)="showNewDashboardDialog()">New Dashboard</button>
  </div>

  <gridster fxFlex [options]="options" class="dashboard">

    <gridster-item [item]="widget" class="pane" *ngFor="let widget of widgets">

    </gridster-item>

  </gridster>


</div>
