.chat-log {
  background-color: #CDDC39;
  overflow: auto;
  padding: 10px;
}

.message {
  border: 1px solid rgba(255, 255, 255, 0.51);
  background-color: #A1887F;
  max-width: 50%;
  display: inline-block;
  border-radius: 2px;
  padding: 1px 5px;
}

.message.mine {
  background: #009688;
  float: right;
}

.message .time {
  font-size: 10px;
}

.message .content {
  word-wrap: break-word;
  white-space: pre-line;
}

.message .creator-name {
  color: #BDBDBD;
}
