<div fxLayout="column" fxFlexFill>
  <div fxFlex class="chat-log mat-elevation-z6" fxLayout="column" fxLayoutGap="10px">
    <div *ngFor="let post of posts | async">
      <div class="message" [class.mine]="post.creatorId == (auth.user | async)?.uid">

        <div class="creator-name">
          {{post.creatorName}}
        </div>

        <div class="content">{{post.content}}</div>

        <div class="time">
          {{post.createdAt | amTimeAgo}}
        </div>

      </div>
    </div>
  </div>

  <div fxLayout fxLayoutAlign="start end" class="mat-elevation-z6">

    <mat-form-field fxFlex>
      <textarea matTextareaAutosize matAutosizeMaxRows="5" matAutosizeMinRows="2" [(ngModel)]="message" (keyup.enter)="sendMessage()" matInput placeholder="Write message..."></textarea>
    </mat-form-field>

    <button mat-icon-button [disabled]="!message" color="primary" (click)="sendMessage()">
      <mat-icon class="mat-24">send</mat-icon>
    </button>

  </div>
</div>
